body {
	margin-top: 70px;
}


/* LATERAL MENU */
#tableDonnees {
	width: 100%;
}
#titleLateralMenu {
	padding-left: 15px;
}
#donnees {
	width: 30%;
	position: fixed;
	top: 100px;
}
.checkData {
	cursor: pointer;
	margin: 0;
	padding: 13px;
	font-size: 13px;
}
.checkData:hover {
	background-color: #F3F2F6;
	font-size: 15px;
}

/*@media (max-width: 620px) {
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}*/

/* CONTENT */
#titlePage {
	width: 68%;
	margin-left: 30%;
}
#contentPage {
	width: 68%;
	top: 120px;
	margin-left: 30%;
}
#my_table1 {
	margin-top: 25px;
	overflow-y: scroll;
	overflow-x: scroll;
	max-height: 500px;
	width: 100%;
	display: block;
}
#rs {
	display: inline;
}
.rs {
	float: left;
	margin-right: 10px;
}
.page-header {
	margin-top: 70px;
}
.select {
	margin-top: 10px;
	margin-bottom: 10px;
}
.boxVisu {
	margin-top: 20px;
}

.divContent {
    margin-right: 0px;
    margin-left: 0px;
}

/* TIMELINE */
input[type="range"] {
	position: relative;
	margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
	position: absolute;
	top: 1em;
	color: #aaa;
}
input[type="range"]:before {
	left:0em;
	content: attr(min);
}
input[type="range"]:after {
	right: 0em;
	content: attr(max);
}
